/* Default light theme: crimson links */
a {
  color: crimson;
}

/* Dark theme: blue links */
@media (prefers-color-scheme: dark) {
  a {
    color: #3399ff;
  }
}

/* Change size of main body text */
body {
  font-size: 12px;
}

/* Change header sizes */
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.2rem;
}

/* Change size of sidebar text */
.sidebar {
  font-size: 15px;
}
